src/test/resources/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="root">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="store">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="book" maxOccurs="unbounded">
        <xs:complexType>
         <xs:sequence>
          <xs:element type="xs:string" name="author"/>
          <xs:element type="xs:string" name="category"/>
          <xs:element type="xs:string" name="isbn"/>
          <xs:element type="xs:float" name="price"/>
          <xs:element type="xs:string" name="title"/>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
</xs:schema>
